<!--
This is a single-file template that can be used to develop and test ubidots HTML canvas widgets.

There is a section for each of the HTML canvas widget settings or tabs.
-->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- Copy these URLs into the external library section. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- End of the external library section. -->
<style>
/*** Copy this into the CSS section. ***/

#tbldiv {
    font-family: Arial, Sans-serif;
    font-weight: 400;
    height: 95vh;
	width: 95vw;
	top: 0;
	left: 0;
    overflow: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

th, td {
    line-height: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgb(190, 190, 190);
    font-size: 14px;
}

td {
    padding-top: 0.5em;
    line-height: 21px;
}

/*
 * These classes are named after the return values from deltaTConditions(deltaT)
 * so must be kept in sync with the function.
 */
.Preferred {
    color: #00876c;
}

.Marginal {
    color: #f7ba6e;
}

.Unsuitable {
    color: #d43d51;
}

.Error {
    color: #949494;
}

/*** End of the CSS section. ***/
</style>
<script>
$(document).ready(() => {
/*** Copy this into the JavaScript section. NOT THE LINE ABOVE. ***/
    const PAGE_BASE_URL = new URL(window.location.href).origin;
    const API_BASE_URL = "https://industrial.api.ubidots.com/api/v2.0";
    var headers = {};
    const DEVICE = "...";

    var ubidots = new Ubidots();
    ubidots.on('receivedToken', function (data) {
        headers["X-Auth-Token"] = data;
        drawChart();
    });

    var displayVars = ["airtemperature", "realfeel", "relativehumidity", "windspeed", "gustspeed", "precipitation", "solar", "strikes", "deltat"];

    var varMap = new Map();

    function rainStatus(precipVal) {
        if (precipVal > 0) {
            precipVal = "Raining";
        } else {
            precipVal = "No Rain";
        }
        return precipVal;
    }

    /*
     * These return values are used as class names so must be kept in sync with the CSS.
     */
    function deltaTConditions(deltaT) {
        if (! $.isNumeric(deltaT) || deltaT < 0) {
            return "Error";
        }

        if (deltaT < 2) {
            return "Marginal";
        } else if (deltaT < 8) {
            return "Preferred";
        } else if (deltaT < 10) {
            return "Marginal";
        }
        
        return "Unsuitable";
    }

    function cardinalCompassWindDirection(decimaldegrees) {
        if (decimaldegrees > 348.75) {
            decimaldegrees = "N";
        } else if (decimaldegrees > 326.25) {
            decimaldegrees = "NNW";
        } else if (decimaldegrees > 303.75) {
            decimaldegrees = "NW";
        } else if (decimaldegrees > 281.25) {
            decimaldegrees = "WNW";
        } else if (decimaldegrees > 258.75) {
            decimaldegrees = "W";
        } else if (decimaldegrees > 236.25) {
            decimaldegrees = "WSW";
        } else if (decimaldegrees > 213.75) {
            decimaldegrees = "SW";
        } else if (decimaldegrees > 191.25) {
            decimaldegrees = "SSW";
        } else if (decimaldegrees > 168.75) {
            decimaldegrees = "S";
        } else if (decimaldegrees > 146.25) {
            decimaldegrees = "SSE";
        } else if (decimaldegrees > 123.75) {
            decimaldegrees = "SE";
        } else if (decimaldegrees > 101.25) {
            decimaldegrees = "ESE";
        } else if (decimaldegrees > 78.75) {
            decimaldegrees = "E";
        } else if (decimaldegrees > 56.25) {
            decimaldegrees = "ENE";
        } else if (decimaldegrees > 33.75) {
            decimaldegrees = "NE";
        } else if (decimaldegrees > 11.25) {
            decimaldegrees = "NNE";
        } else {
            decimaldegrees = "N";
        }
        return decimaldegrees;
    }

    function solarLightLevel(solarRadiation) {

        if (solarRadiation <= 0) {
            solarRadiation = "No Light";
        } else if (solarRadiation <= 120) {
            solarRadiation = "Diffused Light";
        } else {
            solarRadiation = "Full Light";
        }
        return solarRadiation;
    }

    function processVariables() {
        console.log("Processing variables.")
        var str = "";

        for (let dv of displayVars) {
            var v = varMap.get(dv);
            if (v == null) {
                continue;
            }

            // Construct a URL that will open the variable page. The url field from the variable cannot be used
            // because that is an API endpoint.
            var varUrl =  `${PAGE_BASE_URL}/app/devices/${DEVICE}/${v.id}`;

            if (v.name === "airtemperature") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(245, 153, 5)">${v.description}</a></td><td style="color: rgb(245, 153, 5)">${v.lastValue.value} ${v.unit}</td></tr>\n`;
            } else if (v.name === "realfeel") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(54, 162, 235)">${v.description}</a></td><td style="color: rgb(54, 162, 235)">${Math.round((v.lastValue.value)*100)/100} ${v.unit}</td></tr>\n`;
            } else if (v.name === "relativehumidity") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(8, 189, 129)">${v.description}</a></td><td style="color: rgb(8, 189, 129)">${v.lastValue.value} ${v.unit}</td></tr>\n`;
            } else if (v.name === "windspeed") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(135,206,250)">${v.description}</a></td><td style="color: rgb(135,206,250)">${Math.round((v.lastValue.value*3.6)*100)/100} km/h ${cardinalCompassWindDirection(v.lastValue.value)}</td></tr>\n`;
            } else if (v.name === "gustspeed") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(70,130,180)">${v.description}</a></td><td style="color: rgb(70,130,180)">${Math.round((v.lastValue.value*3.6)*100)/100} km/h ${cardinalCompassWindDirection(v.lastValue.value)}</td></tr>\n`;
            } else if (v.name === "precipitation") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(54, 162, 235)">${v.description}</a></td><td style="color: rgb(54, 162, 235)">${rainStatus(v.lastValue.value)}</td></tr>\n`;
            } else if (v.name === "solar") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(235, 54, 54)">${v.description}</a></td><td style="color: rgb(235, 54, 54)">${solarLightLevel(v.lastValue.value)}</td></tr>\n`;
            } else if (v.name === "strikes") {
                str = `${str}<tr><td><a href="${varUrl}" target="_blank" style="color: rgb(158, 21, 189)">${v.description}</a></td><td style="color: rgb(158, 21, 189)">${v.lastValue.value} ${v.unit}</td></tr>\n`;
            } else if (v.name === "deltaT") {
                // Putting the latest variable value into a local variable makes it easier to test this by hard-coding the value of deltaT.
                var deltaT = v.lastValue.value;
                var deltConditions = deltaTConditions(deltaT)
                
                if (deltConditions !== "Error") {
                    str = `${str}<tr><td><a href="${varUrl}" target="_blank" class="${deltConditions}">${v.description}</a></td><td class="${deltConditions}">${deltaT} ${v.unit} - ${deltConditions}</td></tr>\n`;
                } else {
                    str = `${str}<tr><td><a href="${varUrl}" target="_blank" class="${deltConditions}">${v.description}</a></td><td class="${deltConditions}">${deltConditions}</td></tr>\n`;
                }
            }
        }

        $("#ttbody").append(str);
        $('#spinner').attr('hidden', true);
    }

    function drawChart() {
        $.ajax({
            dataType: "json",
            url: `${API_BASE_URL}/devices/${DEVICE}/variables`,
            headers: headers,
        })
        .done(function(data) {
            for (let v of data.results) {
                varMap.set(v.label, v);
            }
        }).done(processVariables);
    }

/*** End of the JavaScript section. NOT THE LINE BELOW. ***/
});
</script>
</head>
<body>
<!-- Copy this into the HTML section. -->
<div id="tbldiv">
<h1 id="spinner" style="position: absolute; left: 50%; top: 50%; text-align: center;"><i class="fa fa-spinner fa-pulse"></i></h1>
<table>
<!--
    <thead>
        <tr><th class="tblHead">Current Conditions</th><th class="tblHead">Value</th></tr>
    </thead>
-->
    <tbody id="ttbody">
    </tbody>
</table>
</div>
<!-- End of the HTML section. -->
</body>
</html>
