<!--
This is a single-file template that can be used to develop and test ubidots HTML canvas widgets.

There is a section for each of the HTML canvas widget settings or tabs.
-->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- Copy these URLs into the external library section. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- End of the external library section. -->
<style>
/*** Copy this into the CSS section. ***/

/*** End of the CSS section. ***/
</style>
<script>
$(document).ready(() => {
/*** Copy this into the JavaScript section. NOT THE LINE ABOVE. ***/
    const BASE_URL = "https://industrial.api.ubidots.com/api/v2.0";
    const HEADERS = { "X-Auth-Token": "BBAU-0g3n2IvmmZWjWD5tvyaGNdWPr6WPbC" };
    const DEVICE = "613e9bdbf4c81a040178e28c";

    var displayVars = ["airtemperature", "realfeel", "relativehumidity", "windspeed", "gustspeed", "precipitation", "solar", "strikes", "deltaT"];
    var variables = [];
    var varCount = 0;

    var html = "<h3>Current Conditions</h3>";

    function rainStatus(precipVal) {
        if (precipVal > 0) {
            precipVal = "Raining";
        } else {
            precipVal = "No Rain";
        }
        return precipVal;
    }

    function deltaTConditions(deltaT) {
        var Conditions = "";
        if (deltaT > 0 && deltaT < 2) {
            Conditions = "Marginal";
        } else if (deltaT >= 2 && deltaT < 8) {
            Conditions = "Preferred";
        } else if (deltaT >= 8 && deltaT < 10) {
            Conditions = "Marginal";
        } else if (deltaT >= 10) {
            Conditions = "Unsuitable";
        } else if (deltaT == null) {
            Conditions = "n/a";
        } else {
            Conditions = "Error";
        }
        return Conditions;
    }

    function cardinalCompassWindDirection(decimaldegrees) {
        if (decimaldegrees > 348.75) {
            decimaldegrees = "N";
        } else if (decimaldegrees > 326.25) {
            decimaldegrees = "NNW";
        } else if (decimaldegrees > 303.75) {
            decimaldegrees = "NW";
        } else if (decimaldegrees > 281.25) {
            decimaldegrees = "WNW";
        } else if (decimaldegrees > 258.75) {
            decimaldegrees = "W";
        } else if (decimaldegrees > 236.25) {
            decimaldegrees = "WSW";
        } else if (decimaldegrees > 213.75) {
            decimaldegrees = "SW";
        } else if (decimaldegrees > 191.25) {
            decimaldegrees = "SSW";
        } else if (decimaldegrees > 168.75) {
            decimaldegrees = "S";
        } else if (decimaldegrees > 146.25) {
            decimaldegrees = "SSE";
        } else if (decimaldegrees > 123.75) {
            decimaldegrees = "SE";
        } else if (decimaldegrees > 101.25) {
            decimaldegrees = "ESE";
        } else if (decimaldegrees > 78.75) {
            decimaldegrees = "E";
        } else if (decimaldegrees > 56.25) {
            decimaldegrees = "ENE";
        } else if (decimaldegrees > 33.75) {
            decimaldegrees = "NE";
        } else if (decimaldegrees > 11.25) {
            decimaldegrees = "NNE";
        } else {
            decimaldegrees = "N";
        }
        return decimaldegrees;
    }

    function solarLightLevel(solarRadiation) {

        if (solarRadiation <= 0) {
            solarRadiation = "No Light";
        } else if (solarRadiation <= 120) {
            solarRadiation = "Diffused Light";
        } else {
            solarRadiation = "Full Light";
        }
        return solarRadiation;
    }

    function processVariables() {
        console.log("Processing variables.")
        // Check if variables exist.
        if (variables.length > 0) {
            var str = "";
            // Iterate over display variables.
            for (let dv of displayVars) {
                // Iterate over variables to match displayVars for output.
                for (let v of variables) {
                    if (dv === v.name) { // If variable exists in displayVars, output values. Check for type below to format.
                        if ( v.name == "airtemperature") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(245, 153, 5)">${v.description}</a></td><td style="text-align: center;color: rgb(245, 153, 5)">${v.lastValue.value}${v.unit}</td></tr>\n`;
                        }else if (v.name == "realfeel") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(54, 162, 235)">${"Feels Like"}</a></td><td style="text-align: center;color: rgb(54, 162, 235)">${Math.round((v.lastValue.value)*100)/100}${v.unit}</td></tr>\n`;
                        }else if (v.name == "relativehumidity") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(8, 189, 129)">${"Humidity"}</a></td><td style="text-align: center;color: rgb(8, 189, 129)">${v.lastValue.value}${v.unit}</td></tr>\n`;
                        }else if (v.name == "windspeed") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(135,206,250)">${v.description}</a></td><td style="text-align: center;color: rgb(135,206,250)">${Math.round((v.lastValue.value*3.6)*100)/100}${"km/h"}</td></tr>\n`;
                        }else if (v.name == "gustspeed") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(70,130,180)">${v.description}</a></td><td style="text-align: center;color: rgb(70,130,180)">${Math.round((v.lastValue.value*3.6)*100)/100}${"km/h"}</td></tr>\n`;
                        }else if (v.name == "precipitation") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(54, 162, 235)">${v.description}</a></td><td style="text-align: center;color: rgb(54, 162, 235)">${rainStatus(v.lastValue.value)}</td></tr>\n`;
                        }else if (v.name == "solar") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(235, 54, 54)">${v.description}</a></td><td style="text-align: center;color: rgb(235, 54, 54)">${solarLightLevel(v.lastValue.value)}</td></tr>\n`;
                        }else if (v.name == "strikes") {
                            str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(158, 21, 189)">${v.description}</a></td><td style="text-align: center;color: rgb(158, 21, 189)">${v.lastValue.value} ${v.unit}</td></tr>\n`;
                        }else if (v.name == "deltaT") {
                            var deltConditions = deltaTConditions(v.lastValue.value)
                            if (v.lastValue.value != null && deltConditions == "Preferred") {
                                // color: rgb(8, 189, 129)
                                str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(8, 189, 129)">${v.description}</a></td><td style="text-align: center;color: rgb(8, 189, 129)">${deltConditions} ${v.lastValue.value}${v.unit}</td></tr>\n`;
                                
                            } else if (v.lastValue.value != null && deltConditions == "Unsuitable") {
                                // color: rgb(235, 54, 54)
                                str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(235, 54, 54)">${v.description}</a></td><td style="text-align: center;color: rgb(235, 54, 54)">${deltConditions} ${v.lastValue.value}${v.unit}</td></tr>\n`;
                                
                            } else if (v.lastValue.value != null && deltConditions == "Marginal") {
                                // color: rgb(245, 153, 5)
                                str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(245, 153, 5)">${v.description}</a></td><td style="text-align: center;color: rgb(245, 153, 5)">${deltConditions} ${v.lastValue.value}${v.unit}</td></tr>\n`;

                            } else if (v.lastValue.value != null && deltConditions == "Unknown") {
                                // color: rgb(148, 148, 148)
                                str = `${str}<tr><td style="text-align: center"><a href="${v.url}" style="color: rgb(148, 148, 148)">${v.description}</a></td><td style="text-align: center;color: rgb(148, 148, 148)">${deltConditions}</td></tr>\n`;
                                
                            }
                        }
                    }
                }
            }
            $("#ttbody").append(str);
        }
    }

    $.ajax({
        dataType: "json",
        url: BASE_URL + "/devices/" + DEVICE + "/variables",
        headers: HEADERS,
    })
    .done(function(data) {
        for (let v of data.results) {
            variables.push(v);
            console.log(v.label + ": " + v.lastValue.value + " " + v.unit);
            //console.log(v);
        }
    }).done(processVariables);

/*** End of the JavaScript section. NOT THE LINE BELOW. ***/
});
</script>
</head>
<body>
<!-- Copy this into the HTML section. -->

<table>
    <thead>
        <tr><th style="text-align: center">Current Conditions</th><th style="text-align: center">Value</th></tr>
    </thead>
    <tbody id="ttbody">
    </tbody>
</table>

<!-- End of the HTML section. -->
</body>
</html>
