<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.0/dist/echarts.min.js"></script>
		<link rel="stylesheet" href="../css/line-soilmoisture-zones.css"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://iot.cdnedge.bluemix.net/iau/static/font-awesome/css/all.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="daterange" id="daterange">
			<i class="fa fa-calendar"></i>
			<span></span>
			<i class="fa fa-caret-down"></i>
		</div>
		<div id="chart" class="chart">
		</div>
		<script type="text/javascript">

			// Begin setup
			const READ_ONLY_TOKEN = "BBAU-MRoCiUPLmWFdZj8kvowA6QLepOQN59";
			const DEVICE_NAME = "stoneleigh-sm-east-trellis";
			const VARIABLES = ["av-10cm", "av-20cm", "av-30cm",	"av-40cm", 
							"av-50cm", "av-60cm", "av-70cm", "av-80cm"];
			const STDEVS = ["stdev-10cm", "stdev-20cm", "stdev-30cm", "stdev-40cm",
						"stdev-50cm", "stdev-60cm", "stdev-70cm", "stdev-80cm"];
			// Optional
			const N_RESULTS_PER_PAGE = 10000; // Easier to work with a single page
			const RETURN_TYPE = "json";
			// End setup

			function initDate() {
				// Default 7 day view
				var startDate = moment().subtract(13, 'days');
				var endDate = moment();
				$('#daterange span').html(startDate.format('MMMM D, YYYY') + ' - ' + endDate.format('MMMM D, YYYY'));
				$('#daterange').daterangepicker({
					ranges: {
						'Today': [moment(), moment()],
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 14 Days': [moment().subtract(13, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'Last Year': [moment().subtract(1, 'year'), moment()]
					},
					startDate: startDate,
					endDate: endDate,
					locale: {
						format: "DD/MM/YY hh:mm A"
					}
				}, function updateChart(start, end, label) {
					$('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
					var date = {
						start: start.valueOf(),
						end: end.valueOf()
					};
					getData(date).then((response) => {
						renderChart(response);
					});
				});
				return {
					start: startDate.valueOf(),
					end: endDate.valueOf()
				};
			};

			var date = initDate();


			async function getData(date, type) {
				try {
					const avg_urls = VARIABLES.map(function(_, i) {
						var url = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
									DEVICE_NAME + "/" + VARIABLES[i] + "/values/?start=" +
									date.start + "&end=" + date.end +
									"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;
						return url;
					});
					const avg_request = Array.from(Array(avg_urls.length)).map(async function(_, i) {
						const req = await fetch(avg_urls[i], {
							method: "GET",
							headers: {"X-Auth-Token": READ_ONLY_TOKEN}
						});
						return req.json();
					});
					const stdev_urls = STDEVS.map(function(_, i) {
						var url = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
									DEVICE_NAME + "/" + STDEVS[i] + "/values/?start=" +
									date.start + "&end=" + date.end +
									"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;
						return url;
					});
					const stdev_request = Array.from(Array(stdev_urls.length)).map(async function(_, i) {
						const req = await fetch(stdev_urls[i], {
							method: "GET",
							headers: {"X-Auth-Token": READ_ONLY_TOKEN}
						});
						return req.json();
					});
					const avgs = await Promise.all(avg_request);
					const stdevs = await Promise.all(stdev_request);
					return {
						avg: avgs,
						stdev: stdevs
					}
				} catch (error) {
					console.log(error);
				}
			}


			function renderChart(response){
				var avgResponse = response.avg
				var stdevResponse = response.stdev
				var series = avgResponse.map(function(_, i) {
					var data = avgResponse[i].results.map(function (value, index) {
						var date = new Date(value.timestamp);
						return [date, value.value];
					});
					return data;
				});

				var stdevSeries = stdevResponse.map(function(_, i) {
					var data = stdevResponse[i].results.map(function (value, index) {
						var date = new Date(value.timestamp);
						return [date, value.value];
					});
					return data;
				});


				var chartSeries = [];
				for (let i in series) {
					var ts = series[i].map((value) => {
						return value[0];
					});
					var values = series[i].map((value) => {
						return value[1];
					});
					var stdevValues = stdevSeries[i].map((value) => {
						return value[1];
					});
					chartSeries.push({
						//name: "10 cm",
						x: ts.reverse(),
						y: values.reverse(),
						error_y: {
							type: 'data',
							array: stdevValues,
							opacity: 0.1,
							width: 0,
							visible: true
						},
						type: 'scatter'
					});
				};


				var layout = {
    				shapes: [
    					{
        					type: 'rect',
							xref: 'paper',
							x0: 0,
							y0: 22.0,
							x1: 1,
							y1: 39.0,
							line:{
								width: 0
							},
							fillcolor:"LightGreen",
							layer: "below",
							opacity: 0.2
						}
    				]
				}	

				Plotly.newPlot('chart', chartSeries, layout);
			}
			getData(date).then((response) => {
				renderChart(response);
			});
		</script>
	</body>
</html>
