<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.0/dist/echarts.min.js"></script>
		<link rel="stylesheet" href="../css/line-soilmoisture-zones.css"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://iot.cdnedge.bluemix.net/iau/static/font-awesome/css/all.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="daterange" id="daterange">
			<i class="fa fa-calendar"></i>
			<span></span>
			<i class="fa fa-caret-down"></i>
		</div>
		<div id="chart" class="chart">
			<h1 style="font-family: 'Trebuchet MS'; position: absolute; left: 50%; top: 50%; text-align: center;"><i class="fa fa-spinner fa-spin"></i></h1>
		</div>
		<script type="text/javascript">

			// Begin setup
			const READ_ONLY_TOKEN = "BBAU-MRoCiUPLmWFdZj8kvowA6QLepOQN59";
			const DEVICE_NAME = "stoneleigh-sm-kanzi-block";
			const VARIABLES = ["av-10cm", "av-20cm", "av-30cm",	"av-40cm", 
							"av-50cm", "av-60cm", "av-70cm", "av-80cm", 
							"stdev-10cm-kanzi"];
			// Optional
			const N_RESULTS_PER_PAGE = 10000; // Easier to work with a single page
			const RETURN_TYPE = "json";
			// End setup

			function initDate() {
				// Default 7 day view
				var startDate = moment().subtract(13, 'days');
				var endDate = moment();
				$('#daterange span').html(startDate.format('MMMM D, YYYY') + ' - ' + endDate.format('MMMM D, YYYY'));
				$('#daterange').daterangepicker({
					ranges: {
						'Today': [moment(), moment()],
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 14 Days': [moment().subtract(13, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'Last Year': [moment().subtract(1, 'year'), moment()]
					},
					startDate: startDate,
					endDate: endDate,
					locale: {
						format: "DD/MM/YY hh:mm A"
					}
				}, function updateChart(start, end, label) {
					$('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
					var date = {
						start: start.valueOf(),
						end: end.valueOf()
					};
					getData(date).then((response) => {
						renderChart(response);
					});
				});
				return {
					start: startDate.valueOf(),
					end: endDate.valueOf()
				};
			};

			var date = initDate();

			async function getData(date) {
				try {
					const urls = VARIABLES.map(function(_, i) {
						var url = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
									DEVICE_NAME + "/" + VARIABLES[i] + "/values/?start=" +
									date.start + "&end=" + date.end +
									"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;
						return url;
					});
					const request = Array.from(Array(urls.length)).map(async function(_, i) {
						const req = await fetch(urls[i], {
							method: "GET",
							headers: {"X-Auth-Token": READ_ONLY_TOKEN}
						});
						return req.json();
					});

					const response = await Promise.all(request);
					return response;
				} catch (error) {
					console.log(error);
				}
			}



			function renderChart(response){
				var maxValue = 0;
				var minValue = 0;
				var series = response.map(function(_, i) {
					var data = response[i].results.map(function (value, index) {
						var date = new Date(value.timestamp);
						if (value.value > maxValue) {
							maxValue = value.value;
						}
						if (minValue == 0) {
							minValue = value.value;
						}
						if (minValue > value.value) {
							minValue = value.value;
						}
						return [date, value.value];
					});
					return data;
				});

				var lowerError = [];
				for (let i in series[0]) {
					var avg = series[0][i][1];
					var stdev = series[8][i][1];
					lowerError.push([series[8][i][0], avg - stdev]);
				}

				var chartDom = document.getElementById('chart');
				var chart = echarts.init(chartDom);
				
				window.onresize = function() {
					chart.resize();
				};

				var options = {
					title: {
						text: 'Kanzi Block',
						subtext: 'Average',
						left: 70,
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross'
						}
					},
					toolbox: {
						right: 70,
						itemSize: 20,
						show: true,
						feature: {
							saveAsImage: {},
							dataView: { show: true, readOnly: false },
							dataZoom: {},
							restore: {}
						}
					},
					legend: {
						bottom: 70,
						width: 400,
						show: true,
						icon: 'rect',
						selected: {
							"10 cm": true,
							"60 cm": false,
							"70 cm": false,
							"80 cm": false,
						}
					},
					xAxis: {
						name: "Date (M)",
						nameLocation: 'center',
						nameGap: 25,
						type: 'time',
						splitArea: {
							show: true
						}
					},
					yAxis: {
						name: "Voumetric water content (%)",
						nameLocation: 'center',
						nameGap: 25,
						min: 0,
						max: 100,
						type: 'value',
					},
					dataZoom: [
						{
							type: "inside",
							yAxisIndex: [0],
							startValue: Math.floor(minValue - 5),
							endValue: Math.ceil(maxValue + 5)
						}
					],
					series: [
						{
							name: "10 cm",
							type: 'line',
							symbol: 'none',
							data: series[0].reverse(), // Reverse array as last value comes first
							itemStyle: {
								color: "#ffa600"
							},
						},
						{
							name: "20 cm",
							type: 'line',
							symbol: 'none',
							data: series[1], // Reverse array as last value comes first
							itemStyle: {
								color: "#ff7c43"
							}
						},
						{
							name: "30 cm",
							type: 'line',
							symbol: 'none',
							data: series[2], // Reverse array as last value comes first
							itemStyle: {
								color: "#f95d6a"
							}
						},
						{
							name: "40 cm",
							type: 'line',
							symbol: 'none',
							data: series[3], 
							itemStyle: {
								color: "#d45087"
							}
						},
						{
							name: "50 cm",
							type: 'line',
							symbol: 'none',
							data: series[4], // Reverse array as last value comes first
							itemStyle: {
								color: "#a05195"
							}
						},
						{
							name: "60 cm",
							type: 'line',
							symbol: 'none',
							data: series[5], // Reverse array as last value comes first
							itemStyle: {
								color: "#665191"
							}
						},
						{
							name: "70 cm",
							type: 'line',
							symbol: 'none',
							data: series[6], // Reverse array as last value comes first
							itemStyle: {
								color: "#2f4b7c"
							}
						},
						{
							name: "80 cm",
							type: 'line',
							symbol: 'none',
							data: series[7], // Reverse array as last value comes first
							itemStyle: {
								color: "#003f5c"
							}
						},

						// Depth 1 error
						{
							name: "Error",
							itemStyle: {
								color: "#ccc"
							},
							type: 'line',
							data: lowerError,
							lineStyle: {
								opacity: 0
							},
							stack: '10cm-lower',
							symbol: 'none'
						},
						{
							name: "Error",
							type: 'line',
							data: series[8],
							lineStyle: {
								opacity: 0
							},
							areaStyle: {
								color: '#ccc'
							},
							stack: '10cm-lower',
							symbol: 'none'
						},

						{
							name: "Error",
							type: 'line',
							data: series[0].reverse(),
							lineStyle: {
								opacity: 0
							},
							stack: '10cm-upper',
							symbol: 'none'
						},
						{
							name: "Error",
							type: 'line',
							data: series[8],
							lineStyle: {
								opacity: 0
							},
							areaStyle: {
								color: '#ccc'
							},
							stack: '10cm-upper',
							symbol: 'none'
						},

						{
							name: "Zones",
							color: 'rgba(80, 255, 120, 0.4)',
							type: 'line',
							data: [],
							markLine: {
								data: 
									[{
										label: {
											position: 'insideEndBottom',
											formatter: "Field Capacity",
										},
										itemStyle: {
											color: 'rgba(0, 0, 0, 1)'
										},
										yAxis: 39 
									},
									{
										label: {
											position: 'insideEndTop',
											formatter: "Wilting Point",
										},
										itemStyle: {
											color: 'rgba(0, 0, 0, 1)'
										},
										yAxis: 22
									},
								],
							},
							markArea: {
								label: {
									show: true,
									position: 'inside',
									color: '#000'
								},
								data: [
									[{
										name: "Available water",
										itemStyle: {
											color: 'rgba(80, 255, 120, 0.2)'
										},
										yAxis: 22,
										},
										{
											yAxis: 39,
										}],
								]
							}
						}
					]
				};
				options && chart.setOption(options);
			}

			getData(date).then((response) => {
				renderChart(response);
			});
		</script>
	</body>
</html>
