<!DOCTYPE HTML>
<html>
	<head>
		<title>Line Chart</title>
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.0/dist/echarts.min.js"></script>
		<link rel="stylesheet" href="../css/line.css"></script>
	</head>

	<body>
		<div id="chart" class="chart"></div>
		<script type="text/javascript">// Token and device setup
			const READ_ONLY_TOKEN = "BBAU-MRoCiUPLmWFdZj8kvowA6QLepOQN59";
			const DEVICE_NAME = "stoneleigh-sm-kanzi-block";
			const VARIABLE_NAME = "av-10cm";
			const SECOND_VARIABLE_NAME = "av-20cm";

			// Time range and attributes
			const UNIX_START_TIME = 1631748755 * 1000; // Convert to milliseconds
			const UNIX_END_TIME = 1632440109 * 1000; 
			const N_RESULTS_PER_PAGE = 10000; // Easier to work with a single page
			const RETURN_TYPE = "json";

			const urlOne = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
						DEVICE_NAME + "/" + VARIABLE_NAME + "/values/?start=" +
						UNIX_START_TIME + "&end=" + UNIX_END_TIME +
						"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;

			const urlTwo = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
						DEVICE_NAME + "/" + SECOND_VARIABLE_NAME + "/values/?start=" +
						UNIX_START_TIME + "&end=" + UNIX_END_TIME +
						"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;


			async function renderChart() {

				const [responseOne, responseTwo] = await Promise.all([
					fetch(urlOne, {
						method: "GET",
						headers: {"X-Auth-Token": READ_ONLY_TOKEN}
					}), 
					fetch(urlTwo, {
						method: "GET",
						headers: {"X-Auth-Token": READ_ONLY_TOKEN}
					})
					]);
					
					const one = await responseOne.json();
					const two = await responseTwo.json();

					return [one, two]
			}

			renderChart().then(([one, two]) => {

				var seriesOne = new Array();
				var seriesTwo = new Array();

				one.results.map(function (value, index) {
					var date = new Date(value.timestamp);
					date = date.toLocaleString("en-AU");
					seriesOne.push([date, value.value]);
				});

				two.results.map(function (value, index) {
					var date = new Date(value.timestamp);
					date = date.toLocaleString("en-AU");
					seriesTwo.push([date, value.value]);
				});

				var chartDom = document.getElementById('chart');
				var chart = echarts.init(chartDom);
				var options = {
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross'
						}
					},
					toolbox: {
						show: true,
						feature: {
							saveAsImage: {}
						}
					},
					xAxis: {
						label: "Date",
						type: 'category'
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						name: "10 cm",
						type: 'line',
						data: seriesOne.reverse() // Reverse array as last value comes first
					},
					{	
						name: "20 cm",
						type: 'line',
						data: seriesTwo // Reverse array as last value comes first
					}]
				};

				options && chart.setOption(options);
			});
		</script>
	</body>
</html>
