<!DOCTYPE HTML>
<html>
	<head>
		<!-- Local Only --!>
		<script src="ubidots.js"></script>
		<!-- End of Local Only --!>
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.0/dist/echarts.min.js"></script>
		<link rel="stylesheet" href="../css/line-soilmoisture-zones.css"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://iot.cdnedge.bluemix.net/iau/static/font-awesome/css/all.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="dropdown">
			<button onclick="showSites()" class="dropbtn">Select Site</button>
			<div id="dropList" class="dropList">
				<a onclick="confirmSite('stoneleigh-sm-johnsons-corner')" href="#">Johnsons Corner</a>
				<a onclick="confirmSite('stoneleigh-sm-east-trellis')" href="#">East Trellis</a>
				<a onclick="confirmSite('stoneleigh-sm-west-galaxy')" href="#">West Galaxy</a>
				<a onclick="confirmSite('stoneleigh-sm-kanzi-block')" href="#">Kanzi Block</a>
			</div>
		</div>
		<div id="chart" class="chart"></div>
		<script type="text/javascript">
			
			var ubidots = new Ubidots();

			// Begin setup
			const READ_ONLY_TOKEN = "BBAU-MRoCiUPLmWFdZj8kvowA6QLepOQN59";

			const DEVICE_NAMES = ["stoneleigh-sm-johnsons-corner", "stoneleigh-sm-east-trellis", 
							"stoneleigh-sm-west-galaxy", "stoneleigh-sm-kanzi-block"]

			const AVGS = ["av-10cm", "av-20cm", "av-30cm",	"av-40cm", 
							"av-50cm", "av-60cm", "av-70cm", "av-80cm"];
			const STDEVS = ["stdev-10cm", "stdev-20cm", "stdev-30cm", "stdev-40cm",
						"stdev-50cm", "stdev-60cm", "stdev-70cm", "stdev-80cm"];

			// Formatted trace names
			const TRACES = ["10cm", "20cm", "30cm", "40cm", "50cm", "60cm", "70cm", "80cm"]

			// Hidden by default
			const HIDDEN = ["10cm", "20cm", "70cm", "80cm"]
			// Optional
			const N_RESULTS_PER_PAGE = 10000; // Easier to work with a single page
			const RETURN_TYPE = "json";
			var date;
			var site;
			// End setup


			ubidots.on('ready', function(){
				date = JSON.stringify(ubidots.dashboardDateRange)
			})

			function showSites(){
				document.getElementById("dropList").classList.toggle("show");
			}

			window.onclick = function(event){
				if(!event.target.matches(".dropbtn")) {
					var dropdowns = document.getElementsByClassName("dropList");
					for(var i = 0; i < dropdowns.length; i++){
						if(dropdowns[i].classList.contains("show")){
							dropdowns[i].classList.remove('show');
						}
					}
				}
			}

			function formatName(name){
				const blkName = name.split("-");
				var fmtName = blkName[2] + "-" + blkName[3];
				fmtName = fmtName
							.replaceAll("-", " ")
							.split(" ")
								.map(word => {
									return word.charAt(0).toUpperCase() + word.slice(1);
								})
							.join(" ");
				return fmtName;
			}

			function confirmSite(new_site){
				site = formatName(new_site);
				getData(new_site, date).then((response) => {
					renderChart(response);
				});
			}

			async function getData(site, date) {
				try {
					const avg_urls = AVGS.map(function(_, i) {
						var url = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
									site + "/" + AVGS[i] + "/values/?start=" +
									date.start + "&end=" + date.end +
									"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;
						return url;
					});
					const avg_request = Array.from(Array(avg_urls.length)).map(async function(_, i) {
						const req = await fetch(avg_urls[i], {
							method: "GET",
							headers: {"X-Auth-Token": READ_ONLY_TOKEN}
						});
						return req.json();
					});
					const stdev_urls = STDEVS.map(function(_, i) {
						var url = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
									site + "/" + STDEVS[i] + "/values/?start=" +
									date.start + "&end=" + date.end +
									"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;
						return url;
					});
					const stdev_request = Array.from(Array(stdev_urls.length)).map(async function(_, i) {
						const req = await fetch(stdev_urls[i], {
							method: "GET",
							headers: {"X-Auth-Token": READ_ONLY_TOKEN}
						});
						return req.json();
					});
					const avgs = await Promise.all(avg_request);
					const stdevs = await Promise.all(stdev_request);
					return {
						avg: avgs,
						stdev: stdevs
					}
				} catch (error) {
					console.log(error);
				}
			}

			function renderChart(response){
				var avgResponse = response.avg
				var stdevResponse = response.stdev

				var series = avgResponse.map(function(_, i) {
					var data = avgResponse[i].results.map(function (value, index) {
						var date = new Date(value.timestamp);
						return [date, value.value];
					});
					return data;
				});


				var stdevSeries = stdevResponse.map(function(_, i) {
					var data = stdevResponse[i].results.map(function (value, index) {
						var date = new Date(value.timestamp);
						return [date, value.value];
					});
					return data;
				});


				var chartSeries = [];
				for (let i in series) {
					var ts = series[i].map((value) => {
						return value[0];
					});
					var values = series[i].map((value) => {
						return value[1];
					});
					var stdevValues = stdevSeries[i].map((value) => {
						return value[1];
					});
					if (HIDDEN.indexOf(TRACES[i]) == -1){
						chartSeries.push({
							name: TRACES[i],
							x: ts.reverse(),
							y: values.reverse(),
							error_y: {
								type: 'data',
								array: stdevValues,
								opacity: 0.1,
								width: 0,
								visible: true
							},
							type: 'scatter'
						});
					}
					else{
						chartSeries.push({
							name: TRACES[i],
							x: ts.reverse(),
							y: values.reverse(),
							error_y: {
								type: 'data',
								array: stdevValues,
								opacity: 0.1,
								width: 0,
								visible: true
							},
							visible: 'legendonly',
							type: 'scatter'
						});
					}
				};


				var layout = {
					title: site,
    				shapes: [
    					{
        					type: 'rect',
							xref: 'paper',
							x0: 0,
							y0: 22.0,
							x1: 1,
							y1: 39.0,
							line:{
								width: 0
							},
							fillcolor:"LightGreen",
							layer: "below",
							opacity: 0.2
						}
    				]
				}	

				Plotly.newPlot('chart', chartSeries, layout);
			}

			ubidots.on('selectedDashboardDateRange', function (new_date) {
				date = new_date;
				site = formatName(DEVICE_NAMES[0]);
				getData(DEVICE_NAMES[0], date).then((response) => {
					renderChart(response);
				});
			});

		</script>
	</body>
</html>
