<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.0/dist/echarts.min.js"></script>
		<link rel="stylesheet" href="../css/line.css"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	</head>

	<body>
		<div class="daterange">
			&#128198;&nbsp;&nbsp;<input class="dateinput" type="text" name="daterange"/>
		</div>&nbsp;
		<div id="chart" class="chart"></div>
		<script type="text/javascript">

			// Begin setup
			const READ_ONLY_TOKEN = "BBAU-MRoCiUPLmWFdZj8kvowA6QLepOQN59";
			const DEVICE_NAME = "stoneleigh-sm-kanzi-block";
			const VARIABLES = ["av-20cm"];
			// Optional
			const N_RESULTS_PER_PAGE = 10000; // Easier to work with a single page
			const RETURN_TYPE = "json";
			// End setup

			function initDate() {
				// Default 7 day view
				var startDate = moment().subtract(7, 'days');
				var endDate = moment();
				$('input[name="daterange"]').daterangepicker({
					timePicker: true,
					opens: 'left',
					startDate: startDate,
					endDate: endDate,
					locale: {
						format: "MM/DD hh:mm A"
					}
				}, function updateChart(start, end, label) {
					var date = {
						start: start.valueOf(),
						end: end.valueOf()
					};
					getData(date).then((response) => {
						renderChart(response);
					});
				});
				return {
					start: startDate.valueOf(),
					end: endDate.valueOf()
				};
			};

			var date = initDate();

			async function getData(date) {
				// TODO add error handling here
				try {
					const urls = VARIABLES.map(function(_, i) {
						var url = "https://industrial.api.ubidots.com/api/v1.6/devices/" +
									DEVICE_NAME + "/" + VARIABLES[i] + "/values/?start=" +
									date.start + "&end=" + date.end +
									"&page_size=" + N_RESULTS_PER_PAGE + "&format=" + RETURN_TYPE;
						return url;
					});
					const request = Array.from(Array(urls.length)).map(async function(_, i) {
						const req = await fetch(urls[i], {
							method: "GET",
							headers: {"X-Auth-Token": READ_ONLY_TOKEN}
						});
						return req.json();
					});

					const response = await Promise.all(request);
					return response;
				} catch (error) {
					console.log(error);
				}

			}
			function renderChart(response){

				var series = response.map(function(_, i) {
					var data = response[i].results.map(function (value, index) {
						return [value.timestamp, value.value];
					});
					return data;
				});

				var chartDom = document.getElementById('chart');
				var chart = echarts.init(chartDom);
				
				// Resize chart with window size
				window.onresize = function() {
					chart.resize();
				};

				var options = {
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross'
						}
					},
					toolbox: {
						show: true,
						feature: {
							saveAsImage: {}
						}
					},
					xAxis: {
						label: "Date",
						type: 'time'
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						type: 'line',
						data: series[0].reverse() // Reverse as last value comes first
					}]
				};

				options && chart.setOption(options);
			}

			getData(date).then((response) => {
				renderChart(response);
			});

		</script>
	</body>
</html>
